<!--
 * @Description: file content
 * @Author: yuhongshao
 * @Date: 2022-07-14 17:36:30
 * @email: yuhongshao@tencent.com
 * @LastEditTime: 2022-07-15 09:52:53
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页面</title>
  
</head>

<body>
    <section>
        <h3>请求封装</h3>
        <div class="box">
            <button id="requestAxiosBtn">请求axios</button>
            <pre></pre>
        </div>
    </section>

    

</body>

</html>