<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试页面</title>

</head>

<body>
    <section>
        <h3>请求封装</h3>
        <div class="box">
            <button id="initAxios">初始化axios 为shaoyuhong.cn</button>
            <button id="initAxios2">初始化axios yuhongshao.cn</button>
            <button id="requestAxiosBtn">请求axios</button>
            <pre></pre>
        </div>
    </section>

    <section>
        <h3>日期处理类</h3>
        <div class="box">
            <button id="formatDate">转换时间test</button>
            <p class="date"></p>
        </div>
    </section>

    <section>
        <h3>防抖与节流</h3>
        <div class="box">
            <button id="debound-btn">防抖</button>
            <button id="thorttle-btn">节流</button>
            <p class="count"></p>
        </div>
    </section>
    <section>
        <h3>图片转base64</h3>
        <div class="box">
            <input type="file" id="image" />
            <button id="base64">图片转base64</button>
        </div>
    </section>

    <section>
        <h3>获取url参数</h3>
        <div class="box">

            <button id="geturl">url参数获取</button>
        </div>
    </section>

    <section>
        <h3>复制文字</h3>
        <div class="box">
            <input type="text">
            <p>这是一个准备被复制的文字</p>
            <button id="copy">复制</button>
        </div>
    </section>
    <section class="pic">
        <input type="file" accept=".png,.jpeg,.jpg,.gif">
        <button id="miniPic">压缩图片</button>
    </section>
    <section class="scroll">
        <button id="goTop">回到顶部</button>
    </section>
</body>

</html>